body {
    margin: 0;

    font-family: Arive, sans-serif;
    font-size: 15px;
    color: #121212;
}

.container {
    width: 500px;
    padding: 20px;
    margin: 20px auto;

    background-color: #eee;
}
